<p>Show chat thread</p>
<table>
  <thead>
    <tr>
      <th>From</th>
      <th>Body</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @chats.each do |chat| %>
      <tr>
        <td><%= chat.user.email %></td>
        <td><%= chat.body %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= will_paginate @chats %>
<br>

<%= link_to 'Reply', new_chat_reply_path(@chats.first) %>
