<p>Show Message Thread</p>
<table>
  <thead>
    <tr>
      <th>From</th>
      <th>Subject</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @emails.each do |email| %>
      <tr>
        <td><%= email.user.email %></td>
        <td><%= email.subject %></td>
        <td><%= email.body %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= will_paginate @emails %>
<br>

